<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Resume</title>
    <link rel = "stylesheet" href = "../styles/style.css">
</head>
<body>
    <div class="page">
        <div class="header-name">{{ name }}</div>
        <div class="header-contact">
            {{ email }} | {{ phone }} | {{ location }} |
            {{ github }} | {{ linkedin }}
        </div>

        {% if education %}
        <div class="section-title">EDUCATION</div>
        <hr>

        {% for ed in education %}
        <div class="entry-row">
            <div class="entry-left">
                <strong>{{ ed.degree }}</strong>, <strong>{{ ed.institution }}</strong>, {{ ed.location }}
            </div>

            <div class="entry-right">
                {{ ed.dates }}
            </div>
        </div>
        <ul>
            {% for bullet in ed.bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}

        {% if experience %}
        <div class="section-title">EXPERIENCE</div>
        <hr>

        {% for exp in experience %}
        <div class="entry-row">
            <div class="entry-left">
                <strong>{{ exp.role }}</strong>, <strong>{{ exp.company }}</strong>, {{ exp.location }}
            </div>

            <div class="entry-right">
                {{ exp.dates }}
            </div>
        </div>
        <ul>
            {% for bullet in exp.bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}

        {% if projects %}
        <div class="section-title">PROJECTS</div>
        <hr>

        {% for proj in projects %}
        <div class="entry-row">
            <div class="entry-left">
                <strong>{{ proj.project }}</strong>, {{ proj.location }}
            </div>

            <div class="entry-right">
                {{ proj.dates }}
            </div>
        </div>
        <ul>
            {% for bullet in proj.bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}

        {% if skills %}
        {% endif %}
    </div>
</body>
</html>

